*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'roboto', sans-serif;
}
:root {
	--font-color: #200b2b;
}
body {
	height: 100vh;
	display: flex;
	width: 100%;
}
.img-container {
	background-image: url(./img/971-compressed-scaled.jpg);
	background-position: center;
	background-size: cover;
	width: 40vw;
}
.form-container {
	width: 60vw;
	display: flex;
	flex-direction: column;
	background-color: #f8f8fa;
}
.form-container .header {
	font-size: 1.2rem;
	color: var(--font-color);
	padding: 40px 3vw 0 3vw;
}
.form-container .second-header {
	font-size: 1.1rem;
	padding: 10px 3vw 0 3vw;
}
form {
	margin-top: 50px;
	background-color: white;
	padding: 0 3vw 20px 3vw;
	box-shadow: 0 10px 10px -2px #a8a6ba;
}
form p {
	font-size: 1.1rem;
	color: var(--font-color);
	margin-bottom: 20px;
	text-transform: capitalize;
}
.pair {
	display: flex;
	flex-direction: row;
	gap: 50px;
	padding-bottom: 20px;
}
.input {
	display: flex;
	flex-direction: column;
}
.input label {
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: lighter;
	color: var(--font-color);
}
input {
	width: 15vw;
	height: 25px;
	border: 1px solid #a8a6ba;
	border-radius: 5px;
	padding-left: 5px;
	color: var(--font-color);
}
input:focus {
	outline: none;
	border: 1px solid #5348bb;
	box-shadow: 0 1px 2px 1px #a8a6ba;
}
button {
	padding: 15px 30px;
	border-radius: 10px;
	outline: none;
	background-color: #1c1893;
	border: transparent;
	color: white;
	transition: 0.2s ease-in;
}
button:hover {
	border: 1px solid #1c1893;
	background-color: transparent;
	color: #1c1893;
}
