*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'roboto', sans-serif;
}
:root {
}
body {
	height: 100vh;
	display: flex;
	width: 100%;
}
.img-container {
	background-image: url(./img/971-compressed-scaled.jpg);
	background-position: center;
	background-size: cover;
	width: 40vw;
}
.form-container {
	width: 60vw;
	padding: 3vw;
	display: flex;
	flex-direction: column;
}
