*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'roboto', sans-serif;
}
:root {
	--font-color: #200b2b;
}
body {
	height: 100vh;
	display: flex;
	width: 100%;
}
.img-container {
	background-image: url(./img/971-compressed-scaled.jpg);
	background-position: center;
	background-size: cover;
	width: 40vw;
}
.form-container {
	width: 60vw;
	padding: 3vw;
	display: flex;
	flex-direction: column;
	background-color: #f8f8fa;
}
.form-container .header {
	padding-top: 40px;
	font-size: 1.2rem;
	color: var(--font-color);
}
.form-container .second-header {
	padding-top: 10px;
	font-size: 1.1rem;
}
